<%= form_for([:admin, @training_location]) do |f| %>

  <%= f.error_messages %>

  <%= field_set_tag 'Basic' do -%>
    
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address %>
    </div>
    
    <div class="field">
      <%= f.label :postcode %><br />
      <%= f.text_field :postcode %>
    </div>
    
    <div class="field">
      <%= f.label :directions %><br />
      <%= f.text_area :directions %>
    </div>
    
    <div class="field">
      <%= f.label :booking_details %><br />
      <%= f.text_area :booking_details %>
    </div>
    
  <% end -%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>					
