<%= form_for([:admin, @course_instance]) do |f| %>

  <%= f.error_messages %>

  <%= field_set_tag 'Basic' do -%>

    <div class="field">
      <%= f.label "Course" %><br />
      <%= f.select :course_id, Course.all.map{|x| [x.name, x.id]}, { include_blank: true } %>
    </div>

    <div class="field">
      <%= f.label "Location" %><br />
      <%= f.select :training_location_id, TrainingLocation.all.map{|x| [x.name, x.id]} %>
    </div>

    <div class="field">
      <%= f.label :eventbrite_link %><br />
      <%= f.text_field :eventbrite_link %>
    </div>

    <div class="field">
      <%= f.label :start_date %><br />
      <%= f.date_select :start_date %>
    </div>

    <div class="field">
      <%= f.label :end_date %><br />
      <%= f.date_select :end_date %>
    </div>

    <div class="field">
      <%= f.label :display %><br />
      <%= f.check_box :display %>
    </div>

  <% end -%>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
