<%= form_for([:admin, @course_category]) do |f| %>

  <%= f.error_messages %>

  <%= field_set_tag 'Basic' do -%>
    
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    
    <div class="field">
      <%= f.label :colour %><br />
      <%= f.text_field :colour %>
    </div>
    
  <% end -%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>					
